.label {
    display: block; /* Garante que o label ocupe uma linha inteira */
    font-size: 14px; /* Define o tamanho da fonte */
    font-weight: bold; /* Define a espessura da fonte */
    margin-bottom: 8px; /* Adiciona um espaço abaixo do label */
    color: #333; /* Define a cor do texto */
  }
  